<div class="col-xs-12 col-sm-6 main-left">
    <ul class="list-group custom-list-group">
        <li class="list-group-item"><a [routerLink]="['/solutionspace']">Solution Space</a></li>
        <li class="list-group-item">Network</li>
        <li class="list-group-item">Knowledge Space</li>
        <li class="list-group-item">Fab Space</li>
        <li class="list-group-item">Innovation Space</li>
        <li class="list-group-item">Incubation Space</li>
        <li class="list-group-item">Competition Space</li>
        <li class="list-group-item">For Schools</li>
        <li class="list-group-item">Calender</li>
    </ul>
</div>