<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-md-6 logo">
            <img src="../../../assets/img/logo.png" alt="">
        </div>
        <div class="col-sm-8 col-md-8 sign-in-form">
            <form class="form-inline" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Login email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-primary custom-btn">Sign in</button>
                </div>
            </form>
            <h2 class="heading">Design Collaboration Platform</h2>
        </div>
    </div>
</div>