<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 logo">
                        <img src="../../../assets/img/logo.png" alt="">
                    </div>
                    <div class="col-xs-8 user-info-header">
                        <div class="user-info-header-wrapper">
                            <div class="user-picture">
                                <img src="../../../assets/img/user.jpg" class="img-circle user-pic" alt="">
                            </div>
                            <div class="user-description">
                                <div class="user-name">Patrick</div>
                                <div class="user-post">Product Designer</div>
                            </div>
                            <div class="user-header-dropdown dropdown">
                                <i class="fa fa-bars" aria-hidden="true" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="user-info-header-dropdown">
                                        <div class="user-picture">
                                            <img src="../../../assets/img/user.jpg" class="img-circle user-pic" alt="">
                                        </div>
                                        <div class="user-description">
                                            <div class="user-name">Patrick</div>
                                            <div class="user-post">Product Designer</div>
                                        </div>
                                    </li>
                                    <li><a href="#">My Profile</a></li>
                                    <li><a href="#">Mail</a></li>
                                    <li><a href="#">Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h2 class="header-title hidden-xs">Design Collaboration Platform</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="header-title visible-xs">Design Collaboration Platform</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="platforms">
            <ul class="platform-items">
                <li class="active"><a href="#">Solution</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Innovation</a></li>
                <li><a href="#">Incubation</a></li>
                <li><a href="#">Fab</a></li>
                <li><a href="#">Competition</a></li>
                <li><a href="#">Knowledge</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Collab</a></li>
                <li><a href="#">Calender</a></li>
            </ul>
            <div class="platform-title">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>
                                <span class="platform-toggle-btn">
                                        <i class="fa fa-bars"></i>
                                    </span> My Profile
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="left-col-open"></div>
            <div class="left-col-overlay"></div>
            <div class="right-col-overlay"></div>
            <div class="right-col-open"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 left-col">
                        <div class="left-col-close">x</div>
                        <div class="menu">
                            <div class="user-info">
                                <div class="user-picture">
                                    <img src="../../../assets/img/user.jpg" class="img-circle user-pic" alt="">
                                </div>
                                <div class="user-description">
                                    <div class="user-name">Patrick</div>
                                    <div class="user-post">Product Designer</div>
                                </div>
                            </div>
                            <ul class="side-menu">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#"> Banglore</a></li>
                                <li class="dropdown" style="display: none">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <a href="#">
                                            My Posts <span class="fa fa-caret-down pull-right" aria-hidden="true"></span>
                                            <div class="dropdown-content">
                                                <a href="#">Bicycle seat design help</a>
                                    <a href="#">Post 2</a>
                                    <a href="#">Post 3</a>
                                    <a href="#">Post 4</a>
                                    <a href="#">Post 5</a>
                        </div>
                        </a>
                        </li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#"> Mail</a></li>
                        <li><i class="fa fa-chevron-down" aria-hidden="true"></i><a href="#"> My Solution Space Posts</a></li>
                        <li><i class="fa fa-chevron-down" aria-hidden="true"></i><a href="#"> My Network Space Posts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 user-profile-info">
                    <div class="user-profile-info-wrapper">
                        <br>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-default btn-primary pull-right edit-profile-btn">Edit Profile</button>

                        </div>
                        <div class="clearfix"></div>
                        <table class="table">
                            <colgroup></colgroup>
                            <colgroup></colgroup>
                            <tr>
                                <td class="user-profile-title-label"><span>My Network</span></td>
                                <td class="user-profile-title-label-value">Designer's Networkpan</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Name</span></td>
                                <td class="user-profile-title-label-value">Patrick</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Gender</span></td>
                                <td class="user-profile-title-label-value">Male</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Date of Birth</span></td>
                                <td class="user-profile-title-label-value">31/8/1970</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Designation</span></td>
                                <td class="user-profile-title-label-value">Product Designer</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Company Name</span></td>
                                <td class="user-profile-title-label-value">ABC Designer</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Company Website</span></td>
                                <td class="user-profile-title-label-value">www.abc.com</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>GSTIN</span></td>
                                <td class="user-profile-title-label-value">XYZ</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Services provided</span></td>
                                <td class="user-profile-title-label-value">Product design consultancy .Graphic design</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Email</span></td>
                                <td class="user-profile-title-label-value">patrickabcdesign@xyz.com</td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Past</span></td>
                                <td class="user-profile-title-label-value">
                                    XYZ Consultants . 2002-2005 <br> Past Job 2 Past Job 3 <br> Past Job 4
                                </td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Education</span></td>
                                <td class="user-profile-title-label-value">
                                    Course Name <br> University <br> Start year –End year <br><br> Course Name <br> University <br> Start year –End year
                                </td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Patents</span></td>
                                <td class="user-profile-title-label-value">
                                    Patent 1 <br> Patent 2 <br> Patent 3
                                </td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Awards</span></td>
                                <td class="user-profile-title-label-value">
                                    Award 1 <br> Award 2 <br> Award 3
                                </td>
                            </tr>
                            <tr>
                                <td class="user-profile-title-label"><span>Publications</span></td>
                                <td class="user-profile-title-label-value">
                                    Paper Title 1 <br> Paper Title 2 <br> Paper Title 3
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-2 right-col">
                    <div class="post-title">
                        <h3>My Groups</h3>
                    </div>
                    <div class="create-group group">
                        <div class="group-pic">+</div>
                        <div class="group-name">Create Group</div>
                    </div>
                    <div class="group">
                        <div class="group-pic"><img src="../../../assets/img/user.jpg" alt=""></div>
                        <div class="group-name">Group 1</div>
                    </div>
                    <div class="group">
                        <div class="group-pic"><img src="../../../assets/img/user.jpg" alt=""></div>
                        <div class="group-name">Group 2</div>
                    </div>
                    <div class="group">
                        <div class="group-pic"><img src="../../../assets/img/user.jpg" alt=""></div>
                        <div class="group-name">Group 3</div>
                    </div>
                    <div class="group">
                        <div class="group-pic"><img src="../../../assets/img/user.jpg" alt=""></div>
                        <div class="group-name">Group 4</div>
                    </div>
                    <div class="group">
                        <div class="group-pic"><img src="../../img/user.jpg" alt=""></div>
                        <div class="group-name">Group 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>