<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 logo">
                        <img src="../../assets/img/logo.png" alt="">
                    </div>
                    <div class="col-xs-8 user-info-header">
                        <div class="user-info-header-wrapper">
                            <div class="user-picture">
                                <a [routerLink]="['/profile']">
                                    <img src="../../assets/img/user.jpg" class="img-circle user-pic" alt="">
                                </a>
                            </div>
                            <div class="user-description">
                                <div class="user-name">Patrick</div>
                                <div class="user-post">Product Designer</div>
                            </div>
                            <div class="user-header-dropdown dropdown">
                                <i class="fa fa-bars" aria-hidden="true" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="user-info-header-dropdown">
                                        <div class="user-picture">
                                            <img src="../../assets/img/user.jpg" class="img-circle user-pic" alt="">
                                        </div>
                                        <div class="user-description">
                                            <div class="user-name">Patrick</div>
                                            <div class="user-post">Product Designer</div>
                                        </div>
                                    </li>
                                    <li><a href="#">My Profile</a></li>
                                    <li><a href="#">Mail</a></li>
                                    <li><a href="#">Password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Log Out</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <h2 class="header-title hidden-xs">Design Collaboration Platform</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="header-title visible-xs">Design Collaboration Platform</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="platforms">
            <ul class="platform-items">
                <li class="active"><a href="#">Solution</a></li>
                <li><a href="#">Network</a></li>
                <li><a href="#">Innovation</a></li>
                <li><a href="#">Incubation</a></li>
                <li><a href="#">Fab</a></li>
                <li><a href="#">Competition</a></li>
                <li><a href="#">Knowledge</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Collab</a></li>
                <li><a href="#">Calender</a></li>
            </ul>
            <div class="platform-title">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>
                                <span class="platform-toggle-btn">
                                        <i class="fa fa-bars"></i>
                                    </span> Design Solution Space
                                <span class="right-col-open pull-right">
                                        <i class="fa fa-bars"></i>
                                    </span>
                                <div class="clearfix"></div>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="left-col-open"></div>
            <div class="left-col-overlay"></div>
            <div class="right-col-overlay"></div>
            <div class="comment-open"></div>
            <div class="comment-overlay"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 left-col">
                        <div class="left-col-close">x</div>
                        <div class="menu">
                            <div class="user-info">
                                <div class="user-picture">
                                    <img src="../../assets/img/user.jpg" class="img-circle user-pic" alt="">
                                </div>
                                <div class="user-description">
                                    <div class="user-name">Patrick</div>
                                    <div class="user-post">Product Designer</div>
                                </div>
                            </div>
                            <ul class="side-menu">
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#"> Banglore</a></li>
                                <li class="dropdown my-posts">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    <a href="#">
                                            My Posts <span class="fa fa-caret-down pull-right" aria-hidden="true"></span>
                                        </a>
                                    <div class="dropdown-content">
                                        <a href="#" class="active">Bicycle seat design help</a>
                                        <a href="#">Post 2</a>
                                        <a href="#">Post 3</a>
                                        <a href="#">Post 4</a>
                                        <a href="#">Post 5</a>
                                    </div>
                                </li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#"> Mail</a></li>
                                <li><i class="fa fa-chevron-down" aria-hidden="true"></i><a href="#"> My Solution Space Posts</a></li>
                                <li><i class="fa fa-chevron-down" aria-hidden="true"></i><a href="#"> My Network Space Posts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 posts">
                        <div class="post-item open">
                            <div class="post-title">
                                <h3>Bicycle seat design help</h3>
                            </div>
                            <div class="post-body">
                                <p class="post-description">Looking for a designer to design a bicycle seat design similar to the one in photograph.</p>
                                <div class="post-location-posted-in">
                                    <div class="post-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Chandigarh
                                    </div>
                                    <div class="post-posted-in">
                                        <span>Posted in: </span> Designer's Network
                                    </div>
                                </div>
                                <div class="posted-images owl-carousel">
                                    <img src="../../assets/img/download.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-title">
                                <h3>Post 2</h3>
                            </div>
                            <div class="post-body">
                                <p class="post-description">Looking for a designer to design a bicycle seat design similar to the one in photograph.</p>
                                <div class="post-location-posted-in">
                                    <div class="post-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Chandigarh
                                    </div>
                                    <div class="post-posted-in">
                                        <span>Posted in: </span> Designer's Network
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-title">
                                <h3>Post 3</h3>
                            </div>
                            <div class="post-body">
                                <p class="post-description">Looking for a designer to design a bicycle seat design similar to the one in photograph.</p>
                                <div class="post-location-posted-in">
                                    <div class="post-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Chandigarh
                                    </div>
                                    <div class="post-posted-in">
                                        <span>Posted in: </span> Designer's Network
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-title">
                                <h3>Post 4</h3>
                            </div>
                            <div class="post-body">
                                <p class="post-description">Looking for a designer to design a bicycle seat design similar to the one in photograph.</p>
                                <div class="post-location-posted-in">
                                    <div class="post-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Chandigarh
                                    </div>
                                    <div class="post-posted-in">
                                        <span>Posted in: </span> Designer's Network
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-title">
                                <h3>Post 5</h3>
                            </div>
                            <div class="post-body">
                                <p class="post-description">Looking for a designer to design a bicycle seat design similar to the one in photograph.</p>
                                <div class="post-location-posted-in">
                                    <div class="post-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Chandigarh
                                    </div>
                                    <div class="post-posted-in">
                                        <span>Posted in: </span> Designer's Network
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-title">
                                <h3>Post 6</h3>
                            </div>
                            <div class="post-body">
                                <p class="post-description">Looking for a designer to design a bicycle seat design similar to the one in photograph.</p>
                                <div class="post-location-posted-in">
                                    <div class="post-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Chandigarh
                                    </div>
                                    <div class="post-posted-in">
                                        <span>Posted in: </span> Designer's Network
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 posts-comments">
                        <div class="post-comment-title">
                            <h3>Desigenr's Network</h3>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="post-commenter">
                            <div class="post-commenter-pic">
                                <img src="../../assets/img/user.jpg" class="img-circle" alt=""></div>
                            <div class="post-commenter-desc">
                                <div class="post-commenter-comment">
                                    Hi Patrick, I can do this for you.
                                </div>
                                <div class="post-commenter-name">
                                    James. Product Designer
                                </div>
                            </div>
                            <div class="post-commenter-action">
                                <span>...</span>
                                <ul class="post-commenter-action-items list-inline">
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="post-commenter-action-item">
                                        <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-2 right-col">
                        <div class="post-title">
                            <h3>My Groups</h3>
                        </div>
                        <div class="create-group group">
                            <div class="group-pic">+</div>
                            <div class="group-name">Create Group</div>
                        </div>
                        <div class="group">
                            <div class="group-pic"><img src="../../assets/img/user.jpg" alt=""></div>
                            <div class="group-name">Group 1</div>
                        </div>
                        <div class="group">
                            <div class="group-pic"><img src="../../assets/img/user.jpg" alt=""></div>
                            <div class="group-name">Group 2</div>
                        </div>
                        <div class="group">
                            <div class="group-pic"><img src="../../assets/img/user.jpg" alt=""></div>
                            <div class="group-name">Group 3</div>
                        </div>
                        <div class="group">
                            <div class="group-pic"><img src="../../assets/img/user.jpg" alt=""></div>
                            <div class="group-name">Group 4</div>
                        </div>
                        <div class="group">
                            <div class="group-pic"><img src="../../assets/img/user.jpg" alt=""></div>
                            <div class="group-name">Group 5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>