/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Segoe UI SemiBold";
    src: url("../src/lib/fonts/seguisb.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.logo img {
    width: 100px;
}

.heading {
    font-weight: bold;
    color: #fff;
    font-size: 32px;
    margin: 3px 0 9px;
    font-family: "Segoe UI SemiBold";
}

.header {
    background-color: #009688;
}

.header .form-control {
    height: 25px;
    border-radius: 0;
    border: none;
}

.custom-btn {
    height: 25px;
    padding: 0 10px;
    border-radius: 0;
}

.sign-in-form {
    padding-top: 13px;
}

.main-left {
    background-image: url('./lib/img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-right {
    background: #f4f7f6;
}

.form-group {
    margin-right: 0;
    margin-left: 0;
}

.radio {
    text-align: center;
    margin-bottom: 20px;
}

.custom-list-group {
    margin-top: 30px;
}

.custom-list-group .list-group-item {
    padding: 5px 10px;
    border-radius: 4px;
    max-width: 210px;
    background: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
    text-align: center;
    margin: 0 auto 5px;
}

.main-right .forms .form-control {
    border: none;
    border-bottom: 1px solid #949c9c;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

@media(max-width: 767px) {
    .logo {
        text-align: center;
    }
}

@media(min-width: 768px) {
    .heading {
        margin-top: 18px;
        padding-right: 15px;
    }
    .sign-in-form {
        text-align: right;
    }
    .logo {
        padding-left: 50px;
        ;
    }
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
        height: 100%;
    }
    .container-fluid,
    .row {
        height: 100%;
    }
    .main {
        height: calc(100% - 100px);
    }
    .main-left {
        height: 100%;
    }
    .main-right {
        overflow-y: scroll;
        height: 100%;
        border-left: 2px solid #ddd;
    }
}

.custom-list-group .list-group-item:not(:last-child):before {
    content: "";
    width: 4px;
    height: 6px;
    background: black;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: -6px;
}

.custom-list-group .list-group-item {
    padding: 10px 10px;
    border-radius: 4px;
    max-width: 210px;
    background: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
    text-align: center;
    margin: 0 auto 5px;
}

.custom-list-group .list-group-item a {
    color: #fff !important;
    font-size: 16px;
}

.overflowHidden {
    overflow: hidden;
}

.logo img {
    width: 100px;
}

.header-title {
    font-weight: bold;
    color: #fff;
    font-size: 32px;
    margin: 3px 0 9px;
    font-family: "Segoe UI SemiBold";
    text-align: right;
    clear: both;
}

.header {
    background-color: #009688;
    padding-bottom: 10px;
}

.user-picture,
.user-description,
.user-header-dropdown {
    float: left;
}

.user-info-header-wrapper {
    float: right;
    padding-top: 7px;
    padding-bottom: 6px;
}

.user-picture {
    margin-right: 15px;
}

.user-description {
    text-align: center;
}

.header .user-description .user-name {
    font-family: "Segoe UI SemiBold";
    font-weight: bolder;
    font-size: 18px;
}

.header .user-description .user-post {
    font-weight: bold;
    font-style: italic;
}

.header .user-header-dropdown {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 22px;
    padding: 5px;
}

.platforms ul.platform-items li {
    list-style: none;
    display: table-cell;
    border: 1px solid #000;
    border-right: none;
}

.platforms ul.platform-items li a {
    display: block;
    text-align: center;
    padding: 5px 0;
    color: #000;
}

.platforms ul.platform-items li.active a {
    background: #f2f2f2;
}

.platforms ul.platform-items li a:focus,
.platforms ul.platform-items li a:hover {
    background: #f2f2f2;
    text-decoration: none;
}

.platforms ul.platform-items li:last-child {
    border-right: 1px solid #000;
}

.platforms ul.platform-items {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

.platform-title {
    font-size: 25px;
    font-style: italic;
    padding: 10px 0;
    background: #aba8a8;
}

.platform-title h3 {
    font-weight: bold;
    margin: 0;
}

.user-info-header-dropdown {
    display: none;
}

.menu .user-info {
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 10px;
}

.menu .user-info .user-name {
    font-weight: bold;
}

.menu .user-info .user-description {
    text-align: left;
}

ul.side-menu {
    list-style: none;
    padding: 0;
    /* background: #fff; */
    padding-top: 20px;
}

.side-menu li a {
    display: block;
    padding: 5px 5px 5px 30px;
    margin-bottom: 5px;
    color: #000;
    /* border-bottom: 1px solid #aba8a8; */
}

.side-menu li a:hover,
.side-menu li a:focus {
    text-decoration: none;
    background: #009688;
    color: #fff;
}

.side-menu li a.active,
.side-menu li a.active:hover,
.side-menu li a.active:focus {
    text-decoration: none;
    background: #009688;
    color: #fff;
}

.side-menu li {
    position: relative;
}

.side-menu li i {
    position: absolute;
    left: 5px;
    top: 16px;
    margin-top: -7px;
}

.side-menu .dropdown-content {
    background: #b9bfb9;
    display: none;
}

.post-item {
    margin: 30px 0 15px;
}

.post-title,
.post-comment-title {
    border-bottom: 2px solid #ddd;
    padding: 10px 10px 5px;
    background: #ddd;
    border-radius: 4px;
}

.post-title {
    cursor: pointer;
    text-align: center;
}

.post-comment-title {
    margin: 30px 0 10px;
}

.post-title h3,
.post-comment-title h3 {
    margin: 0;
    font-size: 20px;
}

.post-description {
    padding: 10px 10px 10px;
}

.post-location-posted-in {
    padding: 0 10px;
    overflow: hidden;
}

.post-location {
    float: left;
}

.post-posted-in {
    float: right;
}

.posted-images {
    text-align: center;
    margin-top: 20px;
    clear: both;
}

.posted-images img {
    margin: 0 auto;
}

.post-commenter-pic img {
    width: 41px;
    height: 41px;
}

.post-commenter-pic {
    float: left;
}

.post-commenter-desc {
    float: left;
    width: calc(100% - 65px);
    padding: 0 5px 0 5px;
}

.post-commenter-name {
    font-weight: bold;
    font-size: 12px;
}

.post-commenter {
    padding-left: 20px;
    position: relative;
    word-break: break-word;
    margin-bottom: 10px;
}

.post-commenter:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    top: 16px;
    background: #71b571;
    position: absolute;
    left: 5px;
    border-radius: 100%;
}

.post-commenter-action {
    float: left;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 0 0 5px;
    width: 24px;
    height: 24px;
    line-height: 14px;
    text-align: center;
    position: relative;
}

.post-body {
    display: none;
}

.post-commenter-action-items {
    display: none;
    position: absolute;
    right: 0;
    top: 23px;
    width: 160px;
    background: #ddd;
    margin: 0;
}

.post-commenter-action-items li {
    padding: 0;
}

.post-commenter-action-items li a {
    display: block;
    border: 1px solid #000;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    line-height: 27px;
    font-size: 14px;
    color: #000;
    margin: 6px 1px 5px;
}

.post-commenter-action-items li a:hover {
    color: #009688;
    border-color: #009688;
}

.post-commenter-action:hover .post-commenter-action-items {
    background: #ddd;
    display: block;
}

.post-commenter-action:hover {
    background: #ddd;
}

.user-profile-info-wrapper .user-profile-title-label {
    font-weight: bold;
    text-align: right;
}

.user-profile-info-wrapper table.table {
    max-width: 500px;
    margin: 0 auto;
}

.user-profile-info-wrapper table.table td {
    border: none;
}

.table>tbody>tr>td.user-profile-title-label-value {
    padding-left: 30px;
}

.right-col .group .group-pic {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid #000;
    float: left;
}

.right-col .group .group-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.right-col .create-group.group .group-pic {
    line-height: 50px;
}

.right-col .group {
    overflow: hidden;
    margin-bottom: 10px;
}

.right-col .group .group-name {
    float: left;
    padding-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    word-wrap: break-word;
}

.edit-profile-btn {
    position: fixed;
    right: 20px;
}

.my-group-toggle-btn {
    cursor: pointer;
}

@media(min-width: 768px) {
    .platform-toggle-btn {
        display: none;
    }
    .platforms ul.platform-items {
        display: table !important;
    }
    html {
        height: 100%;
    }
    body {
        height: 100%;
        min-height: 100%;
    }
    .container-fluid,
    .row {
        height: 100%;
    }
    .left-col {
        height: 100% !important;
        background: #ddd;
        overflow-y: auto;
    }
    .right-col {
        height: 100%;
        background: #ddd;
        overflow-y: auto;
    }
    .posts {
        height: 100%;
        border-right: 1px solid #ddd;
        overflow-y: auto;
    }
    .posts-comments {
        height: 100%;
        overflow-y: auto;
    }
}

@media(min-width: 992px) {
    .left-col {
        left: 0 !important;
        width: 220px;
        display: block;
    }
    .posts {
        width: calc(55% - 220px);
    }
    .posts-comments {
        width: 25%;
    }
    .right-col {
        display: block;
        width: 20%;
        right: 0 !important;
    }
    .user-profile-info {
        height: 100%;
        overflow-y: auto;
        width: calc(80% - 220px);
    }
    .left-col-close {
        display: none;
    }
    .edit-profile-btn {
        right: 22%;
    }
    .my-group-toggle-btn {
        display: none;
    }
}

@media(max-width: 991px) {
    .my-group-toggle-btn {
        display: block;
    }
    .main {
        position: relative;
        padding: 0 12px;
        overflow-x: hidden;
        overflow: hidden;
    }
    .left-col {
        position: absolute;
        display: block;
        z-index: 12;
        background: #ddd;
        overflow-y: auto;
        width: 230px;
        left: -100%;
    }
    .right-col {
        position: absolute;
        display: block;
        top: 0;
        right: -100%;
        z-index: 20;
        background: #ddd;
        width: 220px;
        height: 377px;
        overflow-y: auto;
    }
    .user-description {
        text-align: left;
    }
    .left-col-open {
        display: block;
        position: fixed;
        top: 60%;
        left: 0;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 20px solid #999;
        z-index: 8;
        cursor: pointer;
    }
    .left-col-close {
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        background: #009688;
        color: #fff;
        font-weight: bold;
        text-align: center;
        z-index: 13;
        cursor: pointer;
    }
    .left-col-overlay,
    .right-col-overlay,
    .comment-overlay {
        display: none;
        background: #000;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
}

@media(max-width: 767px) {
    .platform-title h3 {
        font-size: 18px;
    }
    .posts-comments {
        position: absolute;
        right: -100%;
        top: 0;
        z-index: 20;
        background: #fff;
        overflow-y: scroll;
    }
    .platform-toggle-btn {
        display: inline-block;
    }
    .platforms {
        position: relative;
    }
    .platforms ul.platform-items {
        display: none;
        max-width: 160px;
        position: absolute;
        z-index: 1;
        background: #fff;
        top: 45px;
        left: 15px;
    }
    .platforms ul.platform-items li {
        display: block;
        border-right: 1px solid #000;
        border-bottom: none;
    }
    .platforms ul.platform-items li:last-child {
        border-bottom: 1px solid #000;
    }
    .header-title {
        text-align: left;
        font-size: 20px;
    }
    .comment-open {
        display: block;
        position: fixed;
        top: 60%;
        right: 0;
        margin-top: -15px;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 19px solid #999;
        z-index: 20;
        cursor: pointer;
    }
}

@media(max-width: 430px) {
    .user-info-header-wrapper .user-picture,
    .user-info-header-wrapper .user-description {
        display: none;
    }
    .user-info-header-wrapper .user-info-header-dropdown .user-picture,
    .user-info-header-wrapper .user-info-header-dropdown .user-description {
        display: block;
    }
    .user-info-header-dropdown {
        display: block;
        overflow: hidden;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;
        cursor: pointer;
    }
    .user-header-dropdown .dropdown-menu {
        min-width: 220px;
    }
    .user-info-header-wrapper .user-info-header-dropdown .user-picture {
        padding-left: 10px;
        margin-right: 10px;
    }
    .user-info-header-wrapper .user-info-header-dropdown .user-description {
        text-align: left;
    }
    .user-profile-info-wrapper table.table {
        max-width: 100%;
        margin: 0 auto;
    }
    .user-profile-info-wrapper table.table td {
        display: block;
        text-align: left;
    }
}

.right-col .group {
    padding-left: 24%;
}