<div class="container-fluid">
    <div class="row">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <app-left></app-left>
                    <div class="col-xs-12 col-sm-6 main-right">
                        <h3 class="title">Create your account</h3>
                        <div class="forms">
                            <div class="radio">
                                <label class="radio-inline">
                                  <input type="radio" (click)="regiAs($event)" [(ngModel)]="type" name="type"  value="Academic" >Academic</label>
                                <label class="radio-inline">
                                  <input type="radio" (click)="regiAs($event)" [(ngModel)]="type" name="type" value="Designer" >Designer</label>
                                <label class="radio-inline">
                                  <input type="radio" (click)="regiAs($event)" [(ngModel)]="type" name="type" value="Vendor" >Vendor</label>
                            </div>
                            <div *ngIf="type == 'Academic'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="name">Name</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here" required>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Designation">Institute/University</label>
                                        <div class="col-sm-6">

                                            <select class="form-control" (click)="institute()">
                                                <option value="">Choose from here</option>
                                                <option *ngFor="let university of universities" value="{{university.id}}">{{university.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="student">Student</label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                              <input type="radio" name="student" checked>Yes
                                            </label>
                                            <label class="radio-inline">
                                              <input type="radio" name="student">No
                                            </label>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Designation"> Designation</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option>choose from here</option>
                                                <option *ngFor="let designation of designations" value="{{designation.id}}">{{designation.designation_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Gender">Gender</label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline"><input type="radio" name="gender">Male</label>
                                            <label class="radio-inline"><input type="radio" name="gender">Female</label>
                                            <label class="radio-inline"><input type="radio" name="gender">Other</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Date of Birth">Date of Birth</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Choose here dd/mm/yy">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Login Email">Login Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Password">Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="cnf-Password">Confirm Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Alternate Email">Alternate Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-6">
                                            <button type="button" class="btn btn-block">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div *ngIf="type == 'Designer'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="name">Name</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Designation">Designation</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value=''>choose from here</option>
                                                <option *ngFor="let designation of designations" value="{{designation.id}}">{{designation.designation_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Company Name">Company Name</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Company Website">Company Website</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Alma Meter">Alma Meter</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value=''>choose from here</option>
                                                <option *ngFor="let alma_meter of alma_meters" value="{{alma_meter.id}}">{{alma_meter.name}}</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Course">Course</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value=''>choose from here</option>
                                                <option *ngFor="let course of courses" value="{{course.id}}">{{course.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Year of Completion">Year of Completion</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Gender">Gender</label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline"><input type="radio" name="gender">Male</label>
                                            <label class="radio-inline"><input type="radio" name="gender">Female</label>
                                            <label class="radio-inline"><input type="radio" name="gender">Other</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Date of Birth">Date of Birth</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Choose here dd/mm/yy">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Login Email">Login Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Password">Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="cnf-Password">Confirm Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Alternate Email">Alternate Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-6">
                                            <button type="button" class="btn btn-block">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div *ngIf="type == 'Vendor'">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="name">Name</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Gender">Gender</label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline"><input type="radio" name="gender">Male</label>
                                            <label class="radio-inline"><input type="radio" name="gender">Female</label>
                                            <label class="radio-inline"><input type="radio" name="gender">Other</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Date of Birth">Date of Birth</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Choose here dd/mm/yy">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Designation">Designation</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value=''>choose from here</option>
                                                <option *ngFor="let designation of designations" value="{{designation.id}}">{{designation.designation_name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Company Name">Company Name</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Company Website">Company Website</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="GSTIN">GST/IN</label>
                                        <div class="col-sm-6">
                                            <input type="name" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Serviceprovided">Service Provided</label>
                                        <div class="col-sm-4">
                                            <select class="form-control">
                                                <option>no Fields</option>

                                            </select>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Login Email">Login Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Password">Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="cnf-Password">Confirm Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-5 col-md-4" for="Alternate Email">Alternate Email</label>
                                        <div class="col-sm-6">
                                            <input type="email" class="form-control" placeholder="Type here">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-4 col-sm-6">
                                            <button type="button" class="btn btn-block">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>